*{
  margin: 0;
  padding: 0;
}
/* NewsItem CSS */
.img-div{
  height: 210px;
  margin-bottom: 10px;
}
.img-div img{
  height: 210px;
}

.box{
  height: auto;
}
.title{
  font-size: 20px;
}
.description{
  font-size: 15px;
  text-align:left;
}
.desc-div{
  height: auto;
  overflow: hidden;
}
